.book-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.book-card {
    height: 300px;
    transition: all .2s ease-in-out;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    margin: 20px;
    padding: 10px;

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.book-card.title {
    font-size: 1px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    padding: 0;
}

.book-card.author {
    font-size: 8px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.title-div {
    min-height: 72px;
    margin-bottom: 10px;
}

.author-div {
    min-height: 48px;
    margin-bottom: 10px;
}